@tailwind base;
/* Write your global styles here, in PostCSS syntax */
html {
	background: rgb(244, 240, 234);
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
button {
	background: #fada61;
}

@tailwind components;
@tailwind utilities;
